[submodule "dwm"]
	path = dwm
	url = git@github.com:qjsoong/dwm.git
[submodule "st"]
	path = st
	url = git@github.com:qjsoong/st.git
[submodule "dmenu"]
	path = dmenu
	url = git@github.com:qjsoong/dmenu.git
[submodule "slstatus"]
	path = slstatus
	url = git@github.com:qjsoong/slstatus.git
[submodule "vim/pack/default/start/commentary"]
	path = vim/pack/default/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/default/start/gruvbox"]
	path = vim/pack/default/start/gruvbox
	url = https://github.com/gruvbox-community/gruvbox.git
